[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
sqlalchemy = "*"
alembic = "*"
requests = "*"
python-dotenv = "*"
psycopg2 = "*"

[dev-packages]

